ion-item{
    margin: 10px 0;
    --padding-start: 0px;
}

ion-button{
    margin-top: 15px;
}

h4{
    margin: 0;
}

.error-message{
    font-size: 10px;
    color: var(--ion-color-danger-shade);
}

form{
    width: 90%;
}

ion-toggle{
    margin: 15px 0;
    height: 25px;
    width: 40px;
}

.fasting{
    color: var(--ion-color-primary);
    font-weight: bolder;
}