<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="container">Detalhes do Paciente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-grid class="container">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Nome: </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Idade: </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Peso: </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Altura (em cm): </ion-label>
            <ion-input type="number"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Profissão: </ion-label>
            <ion-input type="text"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
