<ion-header [translucent]="true">
  <app-header [title]="'Dados do Paciente'"> </app-header>
</ion-header>
<ion-content [fullscreen]="true">
  <form>
    <ion-grid class="container">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Nome: </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">CPF: </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Data de Nascimento: </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Peso: </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Altura (em cm): </ion-label>
            <ion-input type="number"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Profissão: </ion-label>
            <ion-input type="text"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
