:host{
  width: 100% !important;
  height: 100% !important;
}

.sampling {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border: 1px dotted var(--ion-color-medium-tint);
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100% !important;
  height: 100% !important;
}

.sampling:hover{
  cursor: pointer;
}

.sampling__value{
  color: var(--ion-color-primary);
  font-weight: bolder;
}