section {
  width: 100%;
  border-bottom: 1px solid var(--ion-color-tertiary);
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 30px 0;
  font-weight: bolder;
}
