<ion-header [translucent]="true">
  <app-header [title]="'Início'"> </app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="container">
    <app-sampling-header></app-sampling-header>
    <app-samplings-container (deleted)="presentToast($event, true)">
    </app-samplings-container>
  </section>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="createFormPopover($event)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="spacer"></div>
</ion-content>
